<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Image path:</strong>
  <%= @user.image_path %>
</p>

<%= link_to 'Edit', edit_api_user_path(@user) %> |
<%= link_to 'Back', api_users_path %>
